.toolbar {
  width: 100%;
  display: flex;
  flex-shrink: initial;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  font-size: 30px;
  margin: 0 20px;
  padding: 30px 30px!important;
}
