.toolbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  /*

  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
   */
}

button {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: 666px) {
  .toolbar {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 341px) {

  .toolbar {
  }

  button {
    height: 45px;
  }
}
