:host {
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

.projects app-card {
  margin-bottom: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

mat-paginator {
  font-size: 20px;
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 480px) {

  mat-paginator {
    font-size: 15px;
  }
}
